{{ define "content" }}
<style type="text/css">
    table {
        font-size: 12px;
    }
    table tfoot input {
        width: 90%;
    }
</style>
<script src="/js/jquery.dataTables.min.js"></script>

<div id="content_container">
    <h2>All Customer Users</h2>
    <hr style="border-bottom:1px dotted #343434;clear:both" />
    <div style="width: 100%;margin:auto">
        <table style="width: 100% !important">
            <thead>
                <tr>
                    <th>Customer #</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Date Added</th>
                    <th>Is Customer</th>
                    <th>Sudo</th>
                    <th>Active</th>
                    <th>Keys</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .users }}
                    <tr id="user:{{ .ID }}">
                        <td>{{ .CustomerID }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ .Email }}</td>
                        <td>{{ formatDate .DateAdded }}</td>
                        <td>{{ if .NotCustomer }}No{{ else }}Yes{{ end }}</td>
                        <td>{{ if .IsSudo }}Yes{{ else }}No{{ end }}</td>
                        <td class="center">
                            <input type="checkbox" name="isActive" id="isActive:{{ .ID }}" class="isActive" {{ if not .Active }}title="not active"{{ end }} value="1" {{ if .Active }}checked{{ end }} />
                        </td>
                        <td class="center">{{ len .Keys }}</td>
                        <td class="center">
                            <select id="action:{{ .ID }}" class="user_action">
                                <option value="0">Select Action</option>
                                <option value="webProp">View Web Properties</option>
                                <option value="edit">Edit</option>
                                <option value="delete">Remove</option>
                            </select>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
            <tfoot>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Date Added</th>
                    <th>Is Customer</th>
                    <th>Sudo</th>
                    <th>Active</th>
                    <th>Keys</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="/js/admin/allcustusers.js"></script>
{{ end }}