{{ define "content" }}
<style type="text/css">
    #user_container{
        width: 90%;
        margin: auto;
        border: 2px solid #343434;
        border-radius: 4px 4px 4px;
        display: none;
    }
    
    #user_container #user_name{
       min-height: 40px;
       padding: 5px;
       border-bottom: 1px solid black;
       background: #343434;
       color: White;
       padding-left: 25px;
    }
    
    #user_container #user_name h4{
        margin: 0px;
        line-height: 40px;
    }
    
    #user_info span:nth-child(odd){
        float:left;
        margin: 3px 0px;
        clear:left;
    }
    #user_info span:nth-child(even){
        float: right;
        margin: 3px 0px;
        margin-right: 20%;
    }
</style>
<script src="/js/jquery.dataTables.min.js"></script>

<ul id="subNav">
    <li>
        <a href="/Customers/Edit/{{ .customer.ID }}">Details</a>
    </li>
    <li>
        <a href="/Customers/Locations/{{ .customer.ID }}">Locations</a>
    </li>
    <li>
        <a href="/Customers/CustomerUsers/{{ .customer.ID }}" class="active">Users</a>
    </li>
    <li>
        <a href="/Customers/CustomerWebProperties/{{ .customer.ID }}">Web Properties</a>
    </li>
    <li class="add">
        <a href="/Customers/AddUser/{{ .customer.ID }}">Add User</a>
    </li>
</ul>
<div id="content_container">
    <h2>Users For {{ .customer.Name }}<br /><span style="font-size: 12px;">{{ if isZero .customer.CustomerID }} No CURT Customer Number {{ else }}CURT Customer #: {{ .customer.CustomerID }}{{ end }}<span></h2>
    <hr style="border-bottom:1px dotted #343434;clear:both" />
    <div style="width: 100%;margin:auto">
        <table style="width: 100% !important">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Date Added</th>
                    <th>Is Customer</th>
                    <th>Is Sudo</th>
                    <th>Is Active?</th>
                    <th>Keys</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .users }}
                    <tr id="user:{{ .ID }}">
                        <td>{{ .Name }}</td>
                        <td>{{ .Email }}</td>
                        <td>{{ formatDate .DateAdded }}</td>
                        <td>{{ if .NotCustomer }}No{{ else }}Yes{{ end }}</td>
                        <td>{{ if .IsSudo }}yes{{ else }}No{{ end }}</td>
                        <td class="center">
                            <input type="checkbox" name="isActive" id="isActive:{{ .ID }}" class="isActive" {{ if not .Active }}title="not active"{{ end }} value="1" {{ if .Active }}checked{{ end }} />
                        </td>
                        <td class="center">{{ len .Keys }}</td>
                        <td class="center">
                            <select id="action:{{ .ID }}" class="user_action">
                                <option value="0">Select Action</option>
                                <option value="webProp">View Web Properties</option>
                                <option value="edit">Edit</option>
                                <option value="delete">Remove</option>
                            </select>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<script src="/js/admin/custusers_home.js"></script>
{{ end }}