{{ define "content" }}
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/admin/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/admin/website_menus.js"></script>
<script type="text/javascript" src="/js/admin/cms.js"></script>

<ul id="subNav">
    <li>
        <a href="/Website/Contents" class="active">Manage Content</a>
    </li>
    <li>
        <a href="/Website/Menus">Manage Menus</a>
    </li>
    {{ with .menu }}
    <li class="add">
        <a href="/Website/Link/Add/{{ .ID }}">Add Link</a>
    </li>
    <li class="add">
        <a href="/Website/Content/Add/{{ .ID }}">Add Content</a>
    </li>
    {{ end }}
</ul>
<div id="content_container">
    <h2>Manage Content</h2>
    <h3>Menu: {{ .menu.Name }}</h3>
    <input type="hidden" id="menuid" value="{{ .menu.ID }}" />
    {{ if isZero .menu.ID }}
        <p>You have no primary menu. You need a primary menu to add content.</p>
    {{ else }}
        <ul id="menutabs">
            <li id="tab_menulist" class="active"><a href="javascript:;">{{ .menu.Name }} Menu</a></li>
            <li id="tab_allpages"><a href="javascript:;">All Pages</a></li>
        </ul>
        <div class="menutab active" id="menulist">
            {{template "menucontent" .}}
        </div>
        <div class="menutab" id="allpages">
            <ul id="allpages" class="connected">
                {{ $menuID := .menu.ID }}
                {{ range .contents }}
                    <li {{ if .Published }} class="published" {{ end }} id="page_{{ .ID }}">
                        <span class="title">{{ .PageTitle }}</span>
                        <span class="controls">
                            {{ if .Primary }}
                                <a href="/Website/SetPrimaryContent/{{ .ID }}/{{ $menuID }}"><img src="/img/check.png" alt="Primary Page" title="Primary Page" /></a>
                            {{ else }}
                                <a href="/Website/SetPrimaryContent/{{ .ID }}/{{ $menuID }}"><img src="/img/makeprimary.png" alt="Make This Page the Primary Page" title="Make This Page the Primary Page" /></a>
                            {{ end }}
                            <a href="/Website/Content/Edit/{{ .ID }}"><img src="/img/pencil.png" alt="Edit Page" title="Edit Page" /></a>
                            <a href="javascript:;" class="delete" id="delete_{{ .ID }}"><img src="/img/delete.png" alt="Permanently Delete Page" title="Permanently Delete Page" /></a>
                        </span>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
</div>
{{ end }}