{{ define "navigation" }}
<div id="websiteNav">
    <ul>
        <li>
            <a href="/Website">Content Manager</a>
        </li>
        <li>
            <a href="/Contact">Contacts</a>
        </li>
        <li>
            <a href="/FAQ">FAQ</a>
        </li>
        <li>
            <a href="/News">News</a>
        </li>
        <li>
            <a href="/Video">Videos</a>
        </li>
        <li>
            <a href="/Testimonial">Testimonials</a>
        </li>
        <li>
            <a href="/LandingPages">Landing Pages</a>
        </li>
    </ul>
</div>
{{ end }}