{{ define "content" }}
<ul id="subNav">
    <li>
        <a href="/Blog/Add">Add Post</a>
    </li>
</ul>

<div id="content_container">

    <h2>Blog Posts</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Published</th>
                <th>Approved<br>Comments</th>
                <th>UnApproved<br>Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range .posts }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td>{{ formatDate .Created }}</td>
                    <td>{{ if .Published.IsZero }}Not Published{{ else }}{{ formatDate .Published }}{{ end }}</td>
                    <td style="text-align: center;">{{ len .Comments.Approved }}</td>
                    <td style="text-align: center;">{{ len .Comments.Unapproved }}</td>
                    <td>
                        {{ if not .Published.IsZero }}
                            <a href="http://www.curtmfg.com/Blog/Post/{{ formatDateForURL .Published }}/{{ .Slug }}" title="View">View</a> <text>|</text>
                        {{ end }}
                        <a href="/Blog/Edit/{{ .ID }}" title="Edit">Edit</a> | 
                        <a href="/Blog/Delete/{{ .ID}}" title="Delete" class="delete_post">Delete</a>
                        {{ if showCommentsLink .Comments }}
                            <text>|</text> <a href="/Blog/PostComments/{{ .ID }}" title="Moderate Comments">Comments</a>
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<script src="/js/admin/blog.js"></script>
<script>
    $(function () {
        var posttable = $('table').dataTable({
            "bJQueryUI": true,
            "aoColumns": [
            null,
            { "sType": "date" },
            null,
            null,
            null,
            null
        ],
            "aaSorting": [[1, "asc"]]
        });

        $(document).on('click','.delete_post', function (e) {
            e.preventDefault()
            var path = $(this).attr('href');
            var row = $(this).parent().parent().get()[0];
            if (confirm('Are you sure you want to remove this post?')) {
                $.getJSON(path, function (resp) {
                    if (resp) {
                        posttable.fnDeleteRow(row);
                    } else {
                        showMessage("There was a problem deleting the post");
                    }
                });
            }
        });

    });
</script>
{{ end }}