{{ define "content" }}
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<ul id="subNav">
    <li>
        <a href="/Contact">Contacts</a>
    </li>
    <li>
        <a href="/Contact/Receivers">Receivers</a>
    </li>
    <li>
        <a href="/Contact/Types" class="active">Types</a>
    </li>
    <li class="add">
        <a href="/Contact/AddType">Add Type</a>
    </li>
    <li class="add">
        <a href="/Contact/AddReceiver">Add Receiver</a>
    </li>
</ul>
<div id="content_container">
    <h2>Manage Contact Types</h2>
    <table style="width: 100% !important">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range .types }}
                <tr id="type:{{ .ID }}">
                    <td>{{ .Name }}</td>
                    <td class="center">
                        <a href="/Contact/DeleteType/{{ .ID }}">Delete</a>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        var contacttable = $('table').dataTable({
            "bJQueryUI": true
        });
    });
</script>
{{ end }}