{{define "header"}}
<!-- Page Header -->
<div id="adminHeader">
    <a href="/" id="logoLink">
        <img id="curtLogo" src="/img/curtLogo.png" alt="CURT Manufacturing" /> <span>Web Tools Admin</span>
    </a>
	    <!-- Sidebar navigation -->
	<nav>
	    {{ if isLoggedIn }}
		    <a href="#" id="lines"></a>
		{{ end }}
	    <ul id="sidebar">
	        {{ with .user.Modules }}
	        	{{ range . }}
	        		{{ if .Display }}
	                <li>
	                    <a href="{{.Module_path}}">
	                        {{ if isNotNull .Img_path }}
	                            <span>
	                                <img src="/img/{{ .Img_path }}" alt="{{.Module}}" />
	                            </span>
	                        {{ end }}
	                        {{ .Module }}
	                    </a>
	                </li>
	                {{ end }}
	            {{ end }}
	        {{ end }}
	    </ul>
	</nav>
    <div id="searchArea">
    {{ if isLoggedIn }}
        <span id="userLinks">
            <a href="/Account" title="Account Information">Account Info</a>
            <a href="/Logout" title="Logout">Logout</a>
        </span>
                
        <form action="search" method="post" id="docsSearch">
            <label for="searchTerm">
                <input type="text" name="searchTerm" id="searchTerm" placeholder="Search" autocomplete="off" />
                <input type="submit" name="btnSearch" id="btnSearch" value="" />
            </label>
            <div id="searchResults"><ul></ul></div>
        </form>
    {{end}}
</div>
</div>
{{end}}